<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Your Landing Page<br/>Looks Wonderful Now.</h1>
      <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
    </div>
  </div><!-- /row -->
  
  <div class="row mt centered">
    <div class="col-lg-4">
      <%= image_tag 'ser01.png', width: "180", alt: "" %>
      <h4>1 - Browser Compatibility</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <%= image_tag 'ser02.png', width: "180", alt: "" %>
      <h4>2 - Email Campaigns</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <%= image_tag 'ser03.png', width: "180", alt: "" %>
      <h4>3 - Gather Your Notes</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->
